<section id="event" class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <% if @event.user == current_user %>
        <%= link_to "Edit", edit_event_path(@event), class: "pull-right btn btn-primary" %>
        <%= link_to "Delete", event_path(@event), method: :delete, class: "pull-right btn btn-primary" %>
      <% end %>
      <h1><%= @event.title %></h1>
      <p>
        <%= @event.description %>
      </p>
    </div>
    <div class="col-sm-3">
      <div class="well">
        <%= event_time_tag(@event) %>
      </div>
      <div class="well">
        <h2>Attendees</h2>
        <%= link_to "I want to Attend", event_rsvps_path(@event), method: :post, class: "btn btn-sm btn-primary btn-block" %>
        <ul>
          <%= render @rsvps %>
        </ul>
      </div>
    </div>
  </div>
</section>
